---
import TagBadge from "@components/badges/TagBadge.astro"
import GithubIcon from "@icons/GithubIcon.astro"
import LinkIcon from "@icons/LinkIcon.astro"

interface Props {
  title: string
  subtitle: string
  image: string
  tags: {
    name: string
    icon: any
  }[]
  description: string
  github: string
  link: string
  index: number
}

const { title, subtitle, image, tags, description, github, link } = Astro.props
---

<article class="rounded-md flex flex-col justify-between gap-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
    <div class="overflow-hidden rounded-md group">
      <img
        src={image}
        alt={`${title} image`}
        class="rounded-md group-hover:scale-105 transition"
        loading="lazy"
      />
    </div>
    <div class="flex flex-col justify-between gap-2 sm:gap-0">
      <div class="flex flex-col gap-2">
        <div class="flex gap-2">
          <h2 class="text-2xl font-semibold">{title} - {subtitle}</h2>
        </div>
        <div class="flex flex-wrap gap-2">
          {tags.map((tag) => <TagBadge {...tag} />)}
        </div>
        <p class="text-gray-400">{description}</p>
      </div>
      <div class="flex gap-2">
        <a
          class="flex gap-2 border rounded-md justify-center items-center px-3 py-1 hover:bg-gray-800"
          href={github}
          target="_blank"
          rel="noopener noreferrer"
        >
          <GithubIcon class="size-4" />
          Code
        </a>
        <a
          class="flex gap-2 border rounded-md justify-center items-center px-3 py-1 hover:bg-gray-800"
          href={link}
          target="_blank"
          rel="noopener noreferrer"
        >
          <LinkIcon class="size-4" />
          Preview</a
        >
      </div>
    </div>
  </div>
</article>
