---
import GithubIcon from "../icons/GithubIcon.astro"
import LinkIcon from "../icons/LinkIcon.astro"

interface Props {
  title: string
  image: string
  tags: {
    name: string
    class: string
    icon: any
  }[]
  description: string
  github: string
  link: string
}

const { title, image, tags, description, github, link } = Astro.props
---

<article class="grid grid-cols-1 sm:grid-cols-2 gap-6">
  <div class="overflow-hidden group rounded-lg">
    <img
      src={image}
      alt={title}
      class="group-hover:scale-105 transition duration-500 object-cover w-full h-full"
    />
  </div>
  <div class="flex flex-col gap-4 justify-between">
    <h3 class="text-2xl font-semibold text-pretty">{title}</h3>
    <div class="flex flex-wrap gap-2">
      {
        tags.map((tag) => (
          <span
            class={`px-2 py-1 rounded-md text-xs sm:text-sm font-medium ${tag.class} flex items-center justify-center gap-x-1 line-clamp-1`}
          >
            <tag.icon class="size-4 inline-block" />
            {tag.name}
          </span>
        ))
      }
    </div>
    <p class="text-pretty font-normal text-gray-500 dark:text-gray-400">
      {description}
    </p>
    <div class="flex flex-wrap gap-2">
      <a
        href={github}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-x-2 border border-gray-500 rounded-md px-3 py-2 text-sm font-medium text-white bg-gray-900 hover:bg-gray-800"
      >
        <GithubIcon class="size-5" /> Code
      </a>
      <a
        href={link}
        target="_blank"
        rel="noopener noreferrer"
        class="flex items-center gap-x-2 border border-gray-500 rounded-md px-3 py-2 text-sm font-medium text-white bg-gray-900 hover:bg-gray-800"
      >
        <LinkIcon class="size-5" /> Preview
      </a>
    </div>
  </div>
</article>
