---
import ArrowUpRightIcon from "../icons/ArrowUpRightIcon.astro"
import GithubIcon from "../icons/GithubIcon.astro"

interface Props {
  title: string
  image: string
  tags: {
    name: string
    class: string
    icon: any
  }[]
  description: string
  github: string
  link: string
}

const { title, image, tags, description, github, link } = Astro.props
---

<article class="border border-gray-600 rounded-md p-4 flex flex-col gap-4">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-2">
      <img src={image} class="size-8" />
      <a
        href={github}
        target="_blank"
        rel="noopener noreferrer"
        class="font-medium text-gray-300 hover:text-white flex items-center group transition duration-300 hover:cursor-pointer text-pretty"
      >
        {title}
        <ArrowUpRightIcon
          class="size-4 group-hover:translate-x-[2px] transition"
        />
      </a>
    </div>
    <a
      href={github}
      target="_blank"
      rel="noopener noreferrer"
      class="text-white rounded-md transition"
    >
      <GithubIcon class="size-5" />
    </a>
  </div>
  <p class="text-gray-400 text-sm text-pretty">{description}</p>
  <div class="flex flex-wrap gap-2">
    {
      tags.map((tag) => (
        <span
          class={`px-2 py-1 rounded-md text-xs font-medium ${tag.class} flex items-center justify-center gap-x-1 line-clamp-1`}
        >
          <tag.icon class="size-4 inline-block" />
          {tag.name}
        </span>
      ))
    }
  </div>
</article>
