---
import ArrowUpRightIcon from "@icons/ArrowUpRightIcon.astro"

interface Props {
  title: string
  company: string
  companyLink: string
  date: string
  description: string
}

const { title, company, companyLink, date, description } = Astro.props
---

<li class="ms-4">
  <div
    class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border border-white bg-dodger-blue-600"
  >
  </div>
  <div class="grid sm:grid-cols-5 gap-8">
    <div class="col-span-2 flex flex-col gap-2">
      <h3
        class="text-3xl font-semibold text-dodger-blue-700 text-nowrap sm:text-wrap leading-none"
      >
        {title}
      </h3>
      <a
        href={companyLink}
        target="_blank"
        rel="noopener noreferrer"
        class="text-lg font-medium text-gray-400 hover:text-white flex items-center group transition duration-300 hover:cursor-pointer"
      >
        {company}
        <ArrowUpRightIcon
          class="size-4 group-hover:translate-x-[2px] transition"
        />
      </a>
      <time class="text-sm leading-none text-gray-400">{date}</time>
    </div>
    <div class="col-span-3">
      <p class="text-base text-pretty font-normal text-gray-400">
        {description}
      </p>
    </div>
  </div>
</li>
