---
import type { Experience } from "@customTypes/experience";
import ArrowUpRightIcon from "@icons/ArrowUpRightIcon.astro";

const props = Astro.props as Experience;
const { title, company, companyLink, date, description } = props;
---

<li class="ms-4">
  <div
    class="absolute w-3 h-3 rounded-full mt-1.5 -start-1.5 border-2 border-white bg-dodger-blue-600"
  >
  </div>
  <div class="space-y-4">
    <div class="flex flex-col gap-2">
      <time class="text-sm leading-none text-gray-400 mt-1">{date}</time>
      <div>
        <h3
          class="text-2xl font-semibold text-dodger-blue-700 tracking-tight leading-snug"
        >
          {title}
        </h3>
        <a
          href={companyLink}
          target="_blank"
          rel="noopener noreferrer"
          class="inline-flex items-center gap-1 font-medium text-gray-400 hover:text-dodger-blue-400 transition hover:underline"
        >
          {company}
          <ArrowUpRightIcon
            class="size-4 transition-transform duration-200 group-hover:translate-x-[2px]"
          />
        </a>
      </div>
    </div>

    <ul
      class="list-disc pl-5 text-base font-normal text-gray-400 leading-relaxed space-y-2"
    >
      {description.map((item) => <li>{item}</li>)}
    </ul>
  </div>
</li>
